@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h2>Contact Margaret Landefeld</h2>
<address>
    <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>