@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title>Margaret Landefeld</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center gray-text text-darken-4">Portfolio</h1>
                <div class="row center">
                    <h5 class="header col s12 grey-text text-darken-4">Completed Projects and Works in Progress</h5>
                </div>
                <div class="row center">
                    <a href="https://github.com/mlandefeld?tab=repositories" id="download-button" class="btn-large waves-effect waves-light">Github Repository</a>
                </div>
                <br><br>
            </div>
        </div>
        <!--
        <div class="parallax"><img src="http://hdwplan.com/wp-content/uploads/2016/03/best-widescreen-image-hd.jpeg" alt="Unsplashed background img 1"></div>
    -->
    </div>

    <a name="skills"></a>
    <div class="container">
        <div class="section">
            <!--   cards   -->
            <div class="row">
                <div class="card medium col s3 z-depth-3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://www.deluxsoftware.com/images/DELUXCODE.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">C#, .NET<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">C#, .NET<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card medium col s3 z-depth-3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://learnsqlwithbru.com/wp-content/uploads/2010/04/PhyLocQueryBackup.png" style="height:inherit;">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">SQL, MS SQL Server<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">SQL, MS SQL Server<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
                <div class="card medium col s3 z-depth-3">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="~/Content/Images/html-css.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">HTML & CSS<i class="material-icons right">more_vert</i></span>
                        <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery contact">
        <h1>Gallery</h1>
        <div class="row row-gallery">
            <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="400" src="http://cdn.filipekberg.se/fekberg-blog/wp-content/uploads/2014/04/VS2013Logo.png">
            <img class="materialboxed" width="400" src="https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg">
            <img class="materialboxed" width="400" src="https://static.pexels.com/photos/370/lights-night-dark-abstract.jpeg">
        </div>
        <div class="row row-gallery">
            <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="400" src="http://cdn.filipekberg.se/fekberg-blog/wp-content/uploads/2014/04/VS2013Logo.png">
            <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="400" src="http://cdn.filipekberg.se/fekberg-blog/wp-content/uploads/2014/04/VS2013Logo.png">
            <img class="materialboxed" data-caption="A picture of some deer and tons of trees" width="400" src="http://cdn.filipekberg.se/fekberg-blog/wp-content/uploads/2014/04/VS2013Logo.png">

        </div>

    </div>

    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12">
                    <a name="about"></a>
                    <p>   </p>
                    <h1 class="contact">About</h1>
                    <p class="contact">Software Developer proficient in C#, ASP.NET, SQL, JavaScript, and HTML/CSS.</p>

                    <a name="contact"></a>
                    <p>  </p>
                    <h1 class="contact">Contact</h1>
                    <p class="contact">216.392.3323</p>
                    <p class="contact">mlandefeld@gmail.com</p>
                    <a href="https://www.linkedin.com/in/margaret-landefeld-aaa1339a" class="waves-effect waves-light btn"><i class="material-icons left" style="color: #000000;">person_pin</i>LinkedIn</a>
                    <a href="https://github.com/mlandefeld?tab=repositories" class="waves-effect waves-light btn"><i class="material-icons left" style="color: #000000;">web</i>GitHub</a>
                    
                </div>
            </div>
        </div>
    </div>






    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
</body>
</html>
