@{
    ViewBag.Title = "Home Page";
}

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center gray-text text-darken-4">Portfolio</h1>
                <div class="row center">
                    <h5 class="header col s12 grey-text text-darken-4">Completed Projects and Works in Progress</h5>
                </div>
                <div class="row center">
                    <a href="https://github.com/mlandefeld?tab=repositories" id="download-button" class="btn-large waves-effect waves-light">Github Repository</a>
                </div>
                <br><br>
            </div>
        </div>
        <!--
        <div class="parallax"><img src="http://hdwplan.com/wp-content/uploads/2016/03/best-widescreen-image-hd.jpeg" alt="Unsplashed background img 1"></div>
    -->
    </div>

    <div class="" id="skills">
        <div class="section">
            <!--   cards   -->
            <div class="row flex horizontal-center">
                <div class="col s3">
                    <div class="card medium z-depth-3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Content/pics/string_snip.JPG">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">C#, .NET<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">C#, .NET, & ASP.NET<i class="material-icons right">close</i></span>
                            <p>Primary backend knowledge in C# on the .NET Framwork. Extensive use of MVC design and applying object oriented programing principles.</p>
                            <img style="width: 150px; height:auto;" src="http://pragmatic.bg/wp-content/uploads/2015/10/logo-c-asp-net_0.jpg" />
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card medium z-depth-3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="http://learnsqlwithbru.com/wp-content/uploads/2010/04/PhyLocQueryBackup.png" style="height:inherit;">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">SQL, SQL Server<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">SQL, MS SQL Server<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <img style="width: 150px; height:auto;" src="http://thomaslarock.com/wp-content/uploads/2011/12/SQL-Server-2012.png" />
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card medium z-depth-3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="~/Content/Images/html-css.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">HTML & CSS<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">HTML & CSS<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <img style="width: 150px; height:auto;" src="http://www.bobbyberberyan.com/wp-content/uploads/2012/03/HTML5CSS3Logos.svg" />
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="card medium z-depth-3">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://www.thirdandgrove.com/sites/default/files/inline-images/javascript-promises.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Javascript<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Javascript<i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            <img style="width: 150px; height:auto;" src="https://www.planet-source-code.com/vb/2010Redesign/images/LangugeHomePages/Javascript.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="gallery">
        <h1>Gallery</h1>
        <div class="row row-gallery flex horizontal-center">
            <img class="materialboxed responsive-img" data-caption="C# Controller for the TV Shows / Networks Project."  src="~/Content/pics/csharp.png">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/depfunds_snip.JPG">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/git2_snip.JPG">
        </div>
        <div class="row row-gallery flex horizontal-center">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/bank_snip.JPG">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" src="~/Content/pics/github_snip.JPG">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees" src="~/Content/pics/html-css_snip.JPG">

        </div>
        <div class="row row-gallery flex horizontal-center">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/bank_snip.JPG">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/github_snip.JPG">
            <img class="materialboxed responsive-img" data-caption="A picture of some deer and tons of trees"  src="~/Content/pics/html-css_snip.JPG">

        </div>
    </div>

    <div class="">
        <div class="section">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card contact">
                        <div class="card-content">
                            <span class="card-title" id="about">About</span>
                            <p>
                                Software Developer skilled in C#, ASP.NET, SQL, JavaScript, and HTML/CSS.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="card contact">
                        <div class="card-content">
                            <span class="card-title" id="contact">Contact</span>
                            <ul>
                                <li>216.392.3323</li>
                                <li>mlandefeld@gmail.com</li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a href="https://www.linkedin.com/in/margaret-landefeld-aaa1339a" class="waves-effect waves-light btn contact"><i class="material-icons left" style="color: #000000;">person_pin</i>LinkedIn</a>
                            <a href="https://github.com/mlandefeld?tab=repositories" class="waves-effect waves-light btn contact"><i class="material-icons left" style="color: #000000;">web</i>GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

