<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Landefeld</title>
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/pics/html-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <!--disabled use of bootstrap-->
    @Scripts.Render("~/bundles/modernizr")
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <nav>
                <div class="nav-wrapper">
                    <div class="brand-logo">
                        @Html.ActionLink("Margaret Landefeld", "Index", "Home")
                    </div>
                    <a class='dropdown-button btn' data-beloworigin="true" href='#' data-activates='dropdown1'><i class="material-icons menu-btn">menu</i></a>
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="~/Home/Index/#skills">Skills</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Home/Index/#projects">Projects</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Home/Index/#about">About</a></li>
                        <li class="divider"></li>
                        <li><a href="~/Home/Index/#contact">Contact</a></li>
                    </ul>
                    <!--
                    <ul class="right hide-on-med-and-down">
                        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
                    </ul>
                    -->
                </div>
            </nav>
        </div>
        <div class="body-content">
            @RenderBody()
            <div>
                <a href="#top" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons" style="color: #212121;">navigation</i></a>
            </div>
        </div>
        <footer class="page-footer">
            <div class="container margin-footer">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Objective</h5>
                        <p class="grey-text text-lighten-4">Create cool things with code.</p>
                        <h6 class="white-text">Margaret Landefeld, 2016</h6>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#about">About</a></li>
                            <li><a class="white-text" href="#contact">Contact</a></li>
                            <li><a class="white-text" href="~/Content/Margaret Landefeld Resume.pdf" download>Download Resume</a></li>
                            <li><a class="white-text" href="https://github.com/mlandefeld?tab=repositories">Github Repository</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    @RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!--Make arrow button move to top of page-->
    <script>
        $("a[href='#top']").click(function () {
            $("html, body").animate({ scrollTop: 0 }, "slow");
            return false;
        });
    </script>
    <script src="~/Scripts/MyJS.js"></script>


</body>
</html>
