
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
html{
    font-size:16px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*My content*/
nav {
 background-color: transparent;   
 box-shadow: none;
}
.navbar{
    position:absolute;
    width:100%;
    z-index:10;
}
.parallax img{
    display: flex;
}
.parallax-container{
    overflow: visible;
    width: 100%;
    height:auto;
}
.parallax-container .container{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.parallax-container .container .row{
   width:100%;
}
.collapsible-body{
    padding: 0 20px;
}
.material-icons{
    height: 30px;
    color: #47454A;
}
.card {
    background-color: #FDFDFD;
}
.card .card-image img{
    width: auto;
}
.dropdown-button.btn{
    height: auto;
    padding: 10px;
    background-color:rgba(255,255,255,0.1);
    box-shadow:none;
    float: right;
    font-size: 15px;
    height: 64px;
    width: auto;
    margin-top: -20px;
}
.row{
    align-content: center;
}
.row.col{
    padding:0;
}
.col.s12.m4{
    width:50%;
}
.parallax-container h1{font-size:5rem; margin:0.2em;}
.parallax-container h2{font-size:2.5rem;margin:0.2em 0 1em 0;font-family:Roboto; font-style:italic; font-weight:200;}
footer.page-footer{
    background-color: #9E9E9E;
    bottom:0;
    width: 100%;
    padding: 20px 10px;
    margin:0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image:url(pics/tilt_background.png);
    background-attachment: fixed;
    width:100%;
}
main {
    flex: 1 0 auto;
  }
.collapsible-body{
    height: auto;
    margin: 5px auto;
    padding-bottom: 15px;
}
.btn-floating.btn-large{
    background-color: #00BCD4;
    margin: 0;
    position: fixed;
    bottom: 8px;
    right: 8px;
    z-index: 100;
    text-decoration: none;
}
.row.row-gallery{
    margin-bottom: 0px;
}

.nav-logo{
    max-width: 300px;
}
nav a{
   color: #47454A;
   font-size: 35px;
   padding-left: 15px;
}
#projects{
    width:65%;
    margin: 0 auto;
}
#download-button{
    background-color: #47454A;
    color: #ffffff;
}
#download-button:hover {
       background-color: #00BCD4;
}
h1{
    color: #47454A;
}
.btn{
    background-color: #47454A;
    color: #ffffff;
}
.btn.contact:hover{
   background-color: #47454A;
}
.page-footer ul{
    margin: 0;
}
.page-footer .row{
    margin-bottom: 0;
}
.card.contact{
    color: #47454A;
}
.btn.contact{
    background-color: #00BCD4;
}
.flex{
    display:flex;
}
.flex.horizontal-center{
    justify-content:center;
}
.section.section-skills{background-color:rgba(120, 201, 211, 0.44);}
.section.section-gallery{}
.section.section-about{background-color:rgba(120, 201, 211, 0.44);}
.section.section-contact{}